mixin dailyTable(daily)
    div.daily-table-wrapper
        table.daily-table
            thead 
                tr
                    th 중요도
                    th 완료
                    th 내용
                    th 측정
            tbody
                each sub in daily.subs
                    tr
                        td(class=`importance ${sub.importance}`)=sub.importance
                        if sub.completed
                            td
                                input(type="checkbox", data-id=`${sub._id}`, checked)
                            td.checked=sub.content
                        else
                            td
                                input(type="checkbox", data-id=`${sub._id}`)  
                            td=sub.content
                        if sub.useMeasure 
                            td
                                div
                                    i.fas.fa-minus-circle
                                    input(type="number", min=0, step=1, max=sub.targetValue, value=sub.currentValue, data-id=`${sub._id}`)
                                    span=sub.measureName
                                    i.fas.fa-plus-circle
                        else 
                            td=""