mixin dailyTable(daily)
    div.daily-table-wrapper
        table.daily-table
            thead 
                tr
                    th 중요도
                    th 완료
                    th 내용
            tbody.daily-table__tbody
                each sub in daily.subs
                    tr
                        if sub.completed
                            td(class=`importance ${sub.importance}`)=sub.importance
                            td
                                input(type="checkbox", value=`${sub._id}`, checked).daily-table__checkbox
                            td(class="checked")=sub.content
                        else
                            td(class=`importance ${sub.importance}`)=sub.importance
                            td
                                input(type="checkbox", value=`${sub._id}`).daily-table__checkbox
                            td=sub.content