mixin goalTable(goal)
    div.goal-table-wrapper
        table.goal-table
            thead 
                tr
                    th.th-imp
                        div=lang === "ko" ? "중요도" : "Imp."
                    th.th-comp
                        div=lang === "ko" ? "완료" : "Done" 
                    th.th-content 
                        div=lang === "ko" ? "내용" : "Content"  
                    th.th-measure 
                        div=lang === "ko" ? "측정" : "Measure"   
            tbody
                each sub in goal.subs
                    tr
                        td(class=`importance ${sub.importance}`).imp-td=sub.importance
                        if sub.completed
                            td
                                if sub.useMeasure && sub.eachAsIndepend
                                    input(type="checkbox", data-id=`${sub._id}`, checked).ind-check
                                else 
                                    input(type="checkbox", data-id=`${sub._id}`, checked)
                            td.content-td.checked=sub.content
                        else
                            td
                                if sub.useMeasure && sub.eachAsIndepend
                                    input(type="checkbox", data-id=`${sub._id}`).ind-check  
                                else
                                    input(type="checkbox", data-id=`${sub._id}`)
                            td.content-td=sub.content
                        if sub.useMeasure 
                            td.measure-td
                                div
                                    i.fas.fa-minus-circle
                                    input(type="number", min=0, step=1, max=sub.targetValue, value=sub.currentValue, data-oldval=sub.currentValue, data-id=`${sub._id}`)
                                    span.measureName-span=sub.measureName
                                    i.fas.fa-plus-circle
                        else 
                            td=""