include goal-table.pug

mixin goalContainer(goal, pageTitle, date, termStart, termEnd)
    if goal
        div(data-goalid=goal._id, data-lang=lang).goal-container
            if pageTitle==="Daily" 
                h2=lang==="ko" ? "오늘의 목표" : "Goal of Today"
                span=`${date}`
                p=lang==="ko" ? "남은 시간 " : "Remaining Time "
                    span.goal-container__ramaining-time
            else if pageTitle==="Weekly"
                h2=lang==="ko" ? "이번 주 목표" : "Goal of This Week"
                span#goal-term=`${termStart}~${termEnd}`
                p=lang==="ko" ? "남은 시간 " : "Remaining Time "
                    span.goal-container__ramaining-time
            else if pageTitle==="Monthly"
                h2=lang==="ko" ? "이번 달 목표" : "Goal of This Month"
                span#goal-term=`${termStart}~${termEnd}`
                p=lang==="ko" ? "남은 시간 " : "Remaining Time "
                    span.goal-container__ramaining-time
            else if pageTitle==="Yearly"
                h2=lang==="ko" ? "올해 목표" : "Goal of This Year" 
                span#goal-term=`${termStart}~${termEnd}`
                p=lang==="ko" ? "남은 시간 " : "Remaining Time "
                    span.goal-container__ramaining-time
            else if pageTitle === "Previous Daily"
                h2.goal-container__previousGoal-date=lang==="ko" ? `일간 목표: ${date}` : `Daily Goal: ${date}` 
            else if pageTitle === "Previous Weekly"
                h2.goal-container__previousGoal-date=lang==="ko" ? `주간 목표: ${termStart}~${termEnd}` : `Weekly Goal: ${termStart}~${termEnd}`
            else if pageTitle === "Previous Monthly"
                h2.goal-container__previousGoal-date=lang==="ko" ? `월간 목표: ${termStart}~${termEnd}` : `Monthly Goal: ${termStart}~${termEnd}`
            else if pageTitle === "Previous Yearly"
                h2.goal-container__previousGoal-date=lang==="ko" ? `연간 목표: ${termStart}~${termEnd}` : `Yearly Goal: ${termStart}~${termEnd}`
            +goalTable(goal)
            div.goal-container__progress-bar-container
                h4=lang==="ko" ? "진행 상황: ": "Progress: " 
                    span#progress-point
                progress(max="100")
            if pageTitle==="Daily"
                div.goal-container__edit-btn-container
                    a(href="/daily/edit") 
                        button=lang==="ko" ? "수정하기" : "Edit"
            else if pageTitle==="Weekly"
                div.goal-container__edit-btn-container
                    a(href="/weekly/edit") 
                        button=lang==="ko" ? "수정하기" : "Edit"
            else if pageTitle==="Monthly"
                div.goal-container__edit-btn-container
                    a(href="/monthly/edit") 
                        button=lang==="ko" ? "수정하기" : "Edit"
            else if pageTitle==="Yearly"
                div.goal-container__edit-btn-container
                    a(href="/yearly/edit") 
                        button=lang==="ko" ? "수정하기" : "Edit"
            else if pageTitle==="Previous Daily"
                div.goal-container__back-btn-container
                    a(href="/")
                        button=lang==="ko" ? "돌아가기" : "Go Back" 
            else if pageTitle==="Previous Weekly"
                div.goal-container__back-btn-container
                    a(href="/weekly/")
                        button=lang==="ko" ? "돌아가기" : "Go Back" 
            else if pageTitle==="Previous Monthly"
                div.goal-container__back-btn-container
                    a(href="/monthly")
                        button=lang==="ko" ? "돌아가기" : "Go Back" 
            else if pageTitle==="Previous Yearly"
                div.goal-container__back-btn-container
                    a(href="/weekly/")
                        button=lang==="ko" ? "돌아가기" : "Go Back"
        //- 그래프
        div.chart-box
            div.chart-swap-btn
                span#swap-to-line=lang==="ko" ? "그래프 전환" : "Swap Chart"  
                span#graph-type=lang==="ko" ? "막대" : "Bar"
            div(data-avg=prevAvg, data-prevs=prevGoals, data-prevdates=prevGoalDates)#chart
    else
        if pageTitle==="Daily"    
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "아직 오늘의 목표를 설정하지 않으셨습니다." : "It seems you haven't set a goal of today."
                p=lang==="ko" ? "지금 새로 만들어보세요!" : "Would you like to establish one now?" 
                a(href="/daily/add")
                    button=lang==="ko" ? "새 목표 작성" : "New Goal"
        else if pageTitle==="Weekly"    
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "아직 이번 주 목표를 설정하지 않으셨습니다." : "It seems you haven't set a goal of this week."
                p=lang==="ko" ? "지금 새로 만들어보세요!" : "Would you like to establish one now?" 
                a(href="/weekly/add")
                    button=lang==="ko" ? "새 목표 작성" : "New Goal"
        else if pageTitle==="Monthly"    
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "아직 이번 달 목표를 설정하지 않으셨습니다." : "It seems you haven't set a goal of this month."
                p=lang==="ko" ? "지금 새로 만들어보세요!" : "Would you like to establish one now?" 
                a(href="/monthly/add")
                    button=lang==="ko" ? "새 목표 작성" : "New Goal"
        else if pageTitle==="Yearly"    
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "아직 올해 목표를 설정하지 않으셨습니다." : "It seems you haven't set a goal of this year."
                p=lang==="ko" ? "지금 새로 만들어보세요!" : "Would you like to establish one now?" 
                a(href="/yearly/add")
                    button=lang==="ko" ? "새 목표 작성" : "New Goal"
        else if pageTitle==="Previous Daily"
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "해당 일자에는 일일 목표가 없습니다." : "Sorry, there's no previous goal on the date"
            div.goal-container__back-btn-container
                a(href="/")
                    button=lang==="ko" ? "돌아가기" : "Go Back" 
        else if pageTitle==="Previous Weekly"
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "이전 목표가 없습니다." : "Sorry, there's no previous goal before that."
            div.goal-container__back-btn-container
                a(href="/weekly/")
                    button=lang==="ko" ? "돌아가기" : "Go Back" 
        else if pageTitle==="Previous Monthly"
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "이전 목표가 없습니다." : "Sorry, there's no previous goal before that."
            div.goal-container__back-btn-container
                a(href="/monthly/")
                    button=lang==="ko" ? "돌아가기" : "Go Back" 
        else if pageTitle==="Previous Yearly"
            div(data-lang=lang).no-goal-messeage-box
                p=lang==="ko" ? "이전 목표가 없습니다." : "Sorry, there's no previous goal before that."
            div.goal-container__back-btn-container
                a(href="/yearly/")
                    button=lang==="ko" ? "돌아가기" : "Go Back" 
    
    if pageTitle.includes("Daily")
        div.previous-goal-search      
            p=lang==="ko" ? "다른 목표 조회" : "Search By Date"
            input(type="date")#previous-goal-selector
    else
        if !(pageTitle.includes("Previous") && !goal)
            div.previous-goal-search.not-daily      
                div
                    p=lang==="ko" ? "이전 목표 조회" : "Previous Goal" 
                    div.clock#previous-goal-btn 
                        i.fa-solid.fa-arrow-rotate-right
                        span.dot="."
                        span.hour-hand="|" 
                        span.minute-hand="|"