include monthly-table.pug

mixin monthlyContainer(monthly, pageTitle, date)
    if monthly
        div.monthly-container
            if pageTitle==="Monthly" 
                h2 이번 달 목표
                span#monthly-term=`${termStart}~${termEnd}`
                p="남은 시간 "
                    span.monthly-container__ramaining-time
            else if pageTitle==="Previous Monthly" 
                h2.monthly-container__previousMonthly-date=`${termStart}~${termEnd}`
            +monthlyTable(monthly)
            div.monthly-container__progress-bar-container
                h4 진행 상황: 
                    span#progress-point
                progress(max="100")
            if pageTitle==="Monthly"
                div.monthly-container__edit-btn-container
                    a(href="/monthly/edit") 
                        button 수정하기
            else if pageTitle==="Previous Monthly"
                div.monthly-container__back-btn-container
                    a(href="/")
                        button 돌아가기

    else
        if pageTitle==="Monthly"    
            div.no-monthly-messeage-box
                p 아직 이번 달 목표를 설정하지 않으셨습니다.
                p 지금 새로 만들어보세요! 
                a(href="/monthly/add")
                    button 새 목표 작성
        else if pageTitle==="Previous Monthly"
            div.no-monthly-messeage-box
                p 해당 일자에는 월간 목표가 없습니다.
            div.monthly-container__back-btn-container
                a(href="/")
                    button 돌아가기
    div.previous-monthly-search
        if pageTitle==="Monthly"            
            p 이전 목표 조회
        if pageTitle==="Previous Monthly"            
            p 다른 날짜 조회
        p 
            input(type="date", class="previous-monthly")