extends base.pug

block headBlock
    style.
        fieldset {
            width:fit-content;
        }
        ul { 
            list-style: none; 
            padding: 0;
        } 
        a {
            text-decoration: none;
        }
        span {
            cursor:pointer;
        }
        .hidden {
            display: none;
        }

block bodyBlock
    form(method="POST")
        fieldset 
            ul
                each sub in daily.subs
                    li
                        select(name=`${sub._id}`)
                            each option in ["A","B","C"]
                                if sub.importance === option
                                    option(value=`${option}`, selected)=`${option}`
                                else
                                    option(value=`${option}`)=`${option}`
                        input(type=text, name=`${sub._id}`, value=sub.content)
                        span(class="deleteBtn") ❌
            button(class="addSub-btn") 세부 목표 추가
            input(class="submit-btn", type="submit", value="수정 완료")

    script.
        const form = document.querySelector("form");
        const subList = document.querySelector("ul");
        const addSubBtn = document.querySelector(".addSub-btn");
        const submitBtn = document.querySelector(".submit-btn");
        const deleteBtns = document.querySelectorAll(".deleteBtn");

        for(let i=0; i < deleteBtns.length; i++) {
            deleteBtns[i].addEventListener("click", hideDeleted);
        }

        function hideDeleted(event){
            const li = event.target.parentElement;
            const id = li.querySelector("input").name;
            li.setAttribute("class","hidden");
            while(li.firstChild) {
                li.removeChild(li.lastChild);
            }
            const hiddenInput = document.createElement("input");
            hiddenInput.setAttribute("name", "deletedSubs");
            hiddenInput.setAttribute("value", id);
            li.appendChild(hiddenInput);
        }


        function preventSubmit(event){
            event.preventDefault();
        }

        function formSubmit(){
            form.submit();
        }

        function cancelAdd(event){
            const subLi = event.target.parentElement;
            subLi.remove();
        }

        function addSub(){
            const subLi = document.createElement("li");
            const subImp = document.createElement("select");
            const subInput = document.createElement("input");
            const options = ["A", "B", "C"];
            for(let i=0; i<options.length; i++){
                const option = document.createElement("option");
                option.value = options[i];
                option.innerText = options[i];
                subImp.appendChild(option);
            }
            subImp.name = "newImps";
            subImp.required = "true";
            subInput.type = "text";
            subInput.name = "newSubs";
            subInput.required = "true";
            const cancelBtn = document.createElement("span");
            cancelBtn.innerText = "❌";
            cancelBtn.addEventListener("click", cancelAdd);
            subLi.appendChild(subImp);
            subLi.appendChild(subInput);
            subLi.appendChild(cancelBtn);
            subList.appendChild(subLi);
        };


        form.addEventListener("submit", preventSubmit);
        addSubBtn.addEventListener("click", addSub);
        submitBtn.addEventListener("click", formSubmit);