extends base.pug

block mainBlock
    form(data-lang=lang, method="POST")
        div.editGoal__form__form-container
            if !pageTitle.includes("Daily")
                div.editGoal__form__form-container__date-container
                    div
                        span=lang === "ko" ? "시작일:" : "Start date" 
                        input(type="date", value=termStart, name="termStart")#termStart
                    div
                        span=lang === "ko" ? "종료일:" : "End date" 
                        input(type="date", value=termEnd, disabled)#termEnd 
            ul
                each sub in goal.subs
                    li
                        div.li__container.importance-and-content-setting-box
                            select(name=`${sub._id}`)
                                each option in impArray
                                    if sub.importance === option
                                        option(value=`${option}`, selected)=`${option}`
                                    else
                                        option(value=`${option}`)=`${option}`
                            input(type=text, name=`${sub._id}`, value=sub.content)
                            i(class="fas fa-trash-alt deleteBtn")
                        div.li__container.measurement-setting-box
                            if sub.useMeasure
                                div
                                    span=lang === "ko" ? "단위 사용:" : "Use measurement:"
                                    input(type="checkbox", checked, name=`${sub._id}`).measurement-setting-box__use-measurement-checkbox
                                div
                                    span=lang === "ko" ? "단위명:" : "Unit name:" 
                                    select(name=`${sub._id}`)
                                        each measure in measureNameArray
                                            if sub.measureName == measure
                                                option(value=measure, selected)=measure
                                            else
                                                option(value=measure)=measure
                                div
                                    span=lang === "ko" ? "목표 달성 요구치:" : "Target value:"  
                                    input(type="number", name=`${sub._id}`, min="0", max="9999", value=sub.targetValue).measurement-setting-box__targetValue
                                    span
                                div
                                    span=lang === "ko" ? "각 단위를 단일 목표로 간주:" : "Consider each as independent goal:"  
                                    if sub.eachAsIndepend
                                        input(type="checkbox", checked, name=`${sub._id}`)
                                    else
                                        input(type="checkbox", name=`${sub._id}`)
                            else
                                div
                                    span=lang === "ko" ? "단위 사용:" : "Use measurement:"
                                    input(type="checkbox", name=`${sub._id}`).measurement-setting-box__use-measurement-checkbox
                                div.hidden
                                    span=lang === "ko" ? "단위명:" : "Unit name:"
                                    select(name=`${sub._id}`)
                                        each measure in measureNameArray
                                            option(value=measure)=measure
                                div.hidden
                                    span=lang === "ko" ? "목표 달성 요구치:" : "Target value:"    
                                    input(type="number", name=`${sub._id}`, min="0", max="9999").measurement-setting-box__targetValue
                                    span
                                div.hidden
                                    span=lang === "ko" ? "각 단위를 단일 목표로 간주:" : "Consider each as independent goal:"
                                    if sub.eachAsIndepend
                                        input(type="checkbox", checked, name=`${sub._id}`)
                                    else
                                        input(type="checkbox", name=`${sub._id}`)
            div.editGoal__form__form-container__btn-container
                button(class="addSub-btn")=lang === "ko" ?  "목표 추가" : "Add goal"
                input(class="submit-btn", type="submit", value=(lang === "ko" ? "수정 완료": "Complete"))

block scriptBlock 
    script(src="/assets/js/editGoal.js") 