extends base.pug

block mainBlock
    if errorMessage 
        span(class="errorMessage")=errorMessage
        p
    form(method="POST").newGoal__form
        div.newGoal__form__form-container
            div.newGoal__form__form-container__date-container
                if !pageTitle.includes("Daily")
                    div
                        span 시작일
                        input(type="date", value=today, name="date")#termStart
                    div
                        span 종료일
                        if pageTitle.includes("Weekly")
                            input(type="date", value=aWeekFromToday, disabled)#termEnd
                        else if pageTitle.includes("Monthly")
                            input(type="date", value=aMonthFromToday, disabled)#termEnd
                        else
                            input(type="date", value=aYearFromToday, disabled)#termEnd
                else
                    div
                        input(type="date", value=today, name="date") 

            ul.newGoal__form__form-container__ul
                if unfinishedSubs
                    each sub in unfinishedSubs
                        li(class="unfinished hidden")
                            div.li__container.importance-and-content-setting-box
                                select(name="importances")
                                    each option in impArray
                                        if sub.importance == option
                                            option(value=`${option}`, selected)=`${option}`
                                        else
                                            option(value=`${option}`)=`${option}`
                                input(type="text", name="subs", required, value=`${sub.content}`)
                                i(class="fas fa-trash-alt deleteBtn")
                            div.li__container.measurement-setting-box
                                if sub.useMeasure
                                    div
                                        span 단위 사용:
                                        input(type="checkbox", checked, name="useMeasures").measurement-setting-box__use-measurement-checkbox
                                    div
                                        span 단위명:
                                        select(name="measureNames")
                                            each measure in measureNameArray
                                                if sub.measureName == measure
                                                    option(value=measure, selected)=measure
                                                else
                                                    option(value=measure)=measure
                                    div
                                        span 목표 달성 요구치:  
                                        input(type="number", name="targetValues", min="0", max="9999", value=sub.targetValue).measurement-setting-box__targetValue
                                    div
                                        span 각 단위를 단일 목표로 간주:
                                        if sub.eachAsIndepend
                                            input(type="checkbox", name="eachAsIndepend", checked)
                                        else
                                            input(type="checkbox", name="eachAsIndepend")

                                else
                                    div
                                        span 단위 사용:
                                        input(type="checkbox", name="useMeasures").measurement-setting-box__use-measurement-checkbox
                                    div.hidden
                                        span 단위명:
                                        select(name="measureNames")
                                            each measure in measureNameArray
                                                option(value=measure)=measure
                                    div.hidden
                                        span 목표 달성 요구치:  
                                        input(type="number", name="targetValues", min="0", max="9999").measurement-setting-box__targetValue
                                    div.hidden
                                        span 각 단위를 단일 목표로 간주:
                                        if sub.eachAsIndepend
                                            input(type="checkbox", name="eachAsIndepend", checked)
                                        else
                                            input(type="checkbox", name="eachAsIndepend")
                li
                    div.li__container.importance-and-content-setting-box
                        select(name="importances")
                            each imp in impArray 
                                option(value=`${imp}`)=imp
                        input(type="text", name="subs", required)
                        i(class="fas fa-trash-alt deleteBtn")
                    div.li__container.measurement-setting-box
                        div
                            span 단위 사용:
                            input(type="checkbox", name="useMeasures").measurement-setting-box__use-measurement-checkbox
                        div.hidden
                            span 단위명:
                            select(name="measureNames")
                                each measure in measureNameArray
                                    option(value=`${measure}`)=measure
                        div.hidden
                            span 목표 달성 요구치:  
                            input(type="number", name="targetValues", min="0", max="9999").measurement-setting-box__targetValue
                        div.hidden
                            span 각 단위를 단일 목표로 간주:
                            input(type="checkbox", name="eachAsIndepend")
            div.newGoal__form__form-container__btn-container
                button(class="addSub-btn") 새 목표 추가
                input(class="submit-btn", type="submit", value="작성 완료")

block scriptBlock 
    script(src="/assets/js/newGoal.js") 