extends base.pug

block headBlock 
    style.
        table {
            padding: 0;
            border: 2px solid black;
            width:fit-content;
            border-collapse: collapse;
            text-align: center;
        }
        .thead__tr {
            border-bottom: 2px solid black;
        }
        th {
            border-right: 1px solid black;
        }
        th:last-child {
            border-right: none;
        }
        .tbody__tr {
            border-bottom: 1px solid black;
        }
        .tbody__tr:last-child {
            border-bottom: none;
        }
        td {
            border-right: 1px solid black;
        }
        td:last-child {
            border-right: none;
            padding: 0px 10px;
        }
        
        input[type="checkbox"] {
            margin: 0;
        }

        .errorMessage {
            color: red;
        }
        .checked {
            text-decoration-line: line-through;
        }
        .importance {
            font-weight:bold;
            font-style:italic;
        }
        .A {
            color:red;
        }
        .B {
            color:orange;
        }
        .C {
            color:silver;
        }
        .hidden {
            display: none;
        }

block bodyBlock
    if daily
        form(method="post") 
            h2=`일일 목표: ${date}`
            p
            table
                thead 
                    tr(class="thead__tr")
                        th 중요도
                        th 완료
                        th 내용
                tbody
                each sub in daily.subs
                    tr(class="tbody__tr")
                        if sub.completed
                            td(class=`importance ${sub.importance}`)=sub.importance
                            td
                                input(type="checkbox", value=`${sub._id}`, checked)
                            td(class="checked")=sub.content
                        else
                            td(class=`importance ${sub.importance}`)=sub.importance
                            td
                                input(type="checkbox", value=`${sub._id}`)
                            td=sub.content
        h4 진행 상황
        p(class="progress-point")
        progress(max="100")
        p
        hr
        a(href="/") 
            button="뒤로 가기"

    script.
        const form = document.querySelector("form");
        const checkboxes = document.querySelectorAll("input[type='checkbox']");
        const progress = document.querySelector("progress");
        const progressPoint = document.querySelector(".progress-point");
        let checkboxCnt = checkboxes.length;
        let checkedCnt = document.querySelectorAll("input[checked]").length;
        const remainingTimeSpan = document.querySelector(".remainingTime");
        const previousDaily = document.querySelector(".previous-daily");

        window.onload = function() {
                
            if(progress){
            progress.value=checkedCnt/checkboxCnt*100;
            progressPoint.innerText = `${Math.round(checkedCnt/checkboxCnt*100)}%`;
            };
        }

        function changeOnCheckbox(event){
            progress.value=checkedCnt/checkboxCnt*100;
            progressPoint.innerText = `${Math.round(checkedCnt/checkboxCnt*100)}%`;
            const id = event.target.value;
            const td = event.target.parentElement;
            const input = document.createElement("input");
            input.setAttribute("class","hidden");
            input.setAttribute("type","text");
            input.setAttribute("name","changed");
            input.setAttribute("value", id);
            td.appendChild(input);
            form.submit();
        }

        for(let i=0; i<checkboxes.length; i++){
            checkboxes[i].addEventListener("change", changeOnCheckbox);
        }